{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-undef": 1,
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "valid-jsdoc": "error",
    "default-case": "error",
    "no-multi-spaces": "error",
    "array-bracket-spacing": ["error", "never"],
    "arrow-spacing": "error",
    "block-spacing": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": "error",
    "computed-property-spacing": ["error", "never"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "indent": ["error", 2],
    "max-len": ["error", 90],
    "space-before-function-paren": "error"
  }
}